In [1]:
## 1. 필요한 패키지 import
# 기본적인 패키지
import pandas as pd
import numpy as np
from time import strftime
from datetime import datetime

# MySQL 관련 패키지
import MySQLdb
import mysql.connector

# SQL Alchemy 관련 패키지 1
import sqlalchemy
from sqlalchemy import create_engine

# SQL Alchemy 관련 패키지 2
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table, MetaData
from sqlalchemy import insert, update

In [2]:
## 2. SQLAlchemy로 DB에 접속
url = 'mysql+mysqldb://sixdogma:Poiu0987*@13.113.12.130:3306/Analysis'
engine = sqlalchemy.create_engine(url, encoding='utf-8', echo=True)

In [3]:
engine.execute("CREATE TABLE VARIABLE ( var_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, DateTime DATETIME NOT NULL, Date DATE NOT NULL, Time TIME NOT NULL, Lot INT NOT NULL, pH FLOAT(3,2) NOT NULL, Temp FLOAT(4,2) NOT NULL, Voltage FLOAT(4,2) NOT NULL )")

2022-12-07 16:55:54,665 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-12-07 16:55:54,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:55:54,769 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-12-07 16:55:54,770 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:55:54,816 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-12-07 16:55:54,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:55:54,945 INFO sqlalchemy.engine.Engine CREATE TABLE VARIABLE ( var_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, DateTime DATETIME NOT NULL, Date DATE NOT NULL, Time TIME NOT NULL, Lot INT NOT NULL, pH FLOAT(3,2) NOT NULL, Temp FLOAT(4,2) NOT NULL, Voltage FLOAT(4,2) NOT NULL )
2022-12-07 16:55:54,947 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:55:55,047 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
engine.execute("CREATE TABLE ERROR ( err_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, Date DATE NOT NULL, FailureLot1 INT, FailureLot2 INT )")

2022-12-07 16:55:57,446 INFO sqlalchemy.engine.Engine CREATE TABLE ERROR ( err_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, Date DATE NOT NULL, FailureLot1 INT, FailureLot2 INT )
2022-12-07 16:55:57,446 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:55:57,516 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
engine.execute("CREATE TABLE MODEL ( model_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, Date DATE NOT NULL, Time TIME NOT NULL, Lot INT NOT NULL, pH FLOAT(3,2) NOT NULL, Temp FLOAT(4,2) NOT NULL, Voltage FLOAT(4,2) NOT NULL, sep INT NOT NULL )")

2022-12-07 16:56:00,094 INFO sqlalchemy.engine.Engine CREATE TABLE MODEL ( model_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, Date DATE NOT NULL, Time TIME NOT NULL, Lot INT NOT NULL, pH FLOAT(3,2) NOT NULL, Temp FLOAT(4,2) NOT NULL, Voltage FLOAT(4,2) NOT NULL, sep INT NOT NULL )
2022-12-07 16:56:00,095 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:56:00,173 INFO sqlalchemy.engine.Engine COMMIT

In [63]:
## 3. SQLAlchemy로 DB에서 GET
var_df = pd.read_sql('SELECT DateTime, Date, Time, Lot, pH, Temp, Voltage FROM VARIABLE', con=engine, index_col=None)
err_df = pd.read_sql('SELECT Date, FailureLot1, FailureLot2 FROM ERROR', con=engine, index_col=None)

2022-12-07 16:47:53,691 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-07 16:47:53,692 INFO sqlalchemy.engine.Engine [cached since 1423s ago] ('Test', 'SELECT DateTime, Date, Time, Lot, pH, Temp, Voltage FROM VARIABLE')
2022-12-07 16:47:53,785 INFO sqlalchemy.engine.Engine SELECT DateTime, Date, Time, Lot, pH, Temp, Voltage FROM VARIABLE
2022-12-07 16:47:53,786 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-07 16:47:54,850 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-07 16:47:54,850 INFO sqlalchemy.engine.Engine [cached since 1424s ago] ('Test', 'SELECT Date, FailureLot1, FailureLot2 FROM ERROR')
2022-12-07 16:47:54,942 INFO sqlalchemy.engine.Engine SELECT Date, FailureLot1, FailureLot2 FROM ERROR
2022-12-07 16:47:54,943 INFO sqlalchemy.engine.Engine [raw sql] ()

In [41]:
var_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50094 entries, 0 to 50093
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  50094 non-null  datetime64[ns]
 1   Date      50094 non-null  object
 2   Time      50094 non-null  timedelta64[ns]
 3   Lot       50094 non-null  int64
 4   pH        50094 non-null  float64
 5   Temp      50094 non-null  float64
 6   Voltage   50094 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1), timedelta64[ns](1)
memory usage: 2.7+ MB

In [42]:
err_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         33 non-null     object
 1   FailureLot1  8 non-null      float64
 2   FailureLot2  1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 920.0+ bytes

In [64]:
# 해결
var_df['DateTime'] = var_df['DateTime'].apply(lambda x: x.strftime('%Y:%m:%d %H:%M:%S'))
var_df['DateTime']

0        2021:09:06 16:29:54
1        2021:09:06 16:29:59
2        2021:09:06 16:30:04
3        2021:09:06 16:30:09
4        2021:09:06 16:30:14
                ...
50089    2021:10:27 18:36:03
50090    2021:10:27 18:36:08
50091    2021:10:27 18:36:13
50092    2021:10:27 18:36:18
50093    2021:10:27 18:36:23
Name: DateTime, Length: 50094, dtype: object

In [37]:
# 오류: 'Timedelta' object has no attribute 'strftime'
var_df['Time'] = var_df['Time'].apply(lambda x: x.strftime('%H:%M:%S'))
var_df['Time']

AttributeError: 'Timedelta' object has no attribute 'strftime'

In [65]:
# 이 방법으로 해결
var_df['Time'] = var_df['Time'].astype(str).map(lambda x: x[7:])
var_df['Time']

0        16:29:54
1        16:29:59
2        16:30:04
3        16:30:09
4        16:30:14
           ...
50089    18:36:03
50090    18:36:08
50091    18:36:13
50092    18:36:18
50093    18:36:23
Name: Time, Length: 50094, dtype: object

In [66]:
sep = list()

for i in range(len(err_df)):
    for j in range(len(var_df)):
        if err_df['Date'][i] == var_df['Date'][j]:
            if err_df['FailureLot1'][i].astype(float) == var_df['Lot'][j].astype(float):
                sep.append(1)
            elif err_df['FailureLot2'][i].astype(float) == var_df['Lot'][j].astype(float):
                sep.append(1)
            else:
                sep.append(0)

var_df['sep'] = sep

In [67]:
var_df

,DateTime,Date,Time,Lot,pH,Temp,Voltage,sep
0,2021:09:06 16:29:54,2021-09-06,16:29:54,1,2.15,43.15,19.74,0
1,2021:09:06 16:29:59,2021-09-06,16:29:59,1,2.08,40.13,18.01,0
2,2021:09:06 16:30:04,2021-09-06,16:30:04,1,2.18,43.46,18.73,0
3,2021:09:06 16:30:09,2021-09-06,16:30:09,1,1.99,41.72,16.75,0
4,2021:09:06 16:30:14,2021-09-06,16:30:14,1,1.85,43.65,18.02,0
...,...,...,...,...,...,...,...,...
50089,2021:10:27 18:36:03,2021-10-27,18:36:03,22,2.05,42.84,15.38,0
50090,2021:10:27 18:36:08,2021-10-27,18:36:08,22,1.91,42.64,19.08,0
50091,2021:10:27 18:36:13,2021-10-27,18:36:13,22,2.11,44.09,18.14,0
50092,2021:10:27 18:36:18,2021-10-27,18:36:18,22,1.92,43.95,17.96,0
50093,2021:10:27 18:36:23,2021-10-27,18:36:23,22,1.81,44.11,19.22,0

In [68]:
labelwork_type = {'DateTime':sqlalchemy.types.DATETIME(),
                  'Date':sqlalchemy.types.DATE(),
                  'Time':sqlalchemy.types.TIME(),
                  'Lot':sqlalchemy.types.INT(),
                  'pH':sqlalchemy.types.FLOAT(),
                  'Temp':sqlalchemy.types.FLOAT(),
                  'Voltage':sqlalchemy.types.FLOAT(),
                  'sep':sqlalchemy.types.INT()
                  }

var_df.to_sql(name='MODEL', con=engine, if_exists='append', index=False, dtype=labelwork_type)

2022-12-07 16:48:31,508 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-12-07 16:48:31,509 INFO sqlalchemy.engine.Engine [cached since 1461s ago] ('Test', 'MODEL')
2022-12-07 16:48:31,619 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-07 16:48:31,816 INFO sqlalchemy.engine.Engine INSERT INTO `MODEL` (`DateTime`, `Date`, `Time`, `Lot`, `pH`, `Temp`, `Voltage`, sep) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2022-12-07 16:48:31,817 INFO sqlalchemy.engine.Engine [generated in 0.15757s] (('2021:09:06 16:29:54', datetime.date(2021, 9, 6), '16:29:54', 1, 2.15, 43.15, 19.74, 0), ('2021:09:06 16:29:59', datetime.date(2021, 9, 6), '16:29:59', 1, 2.08, 40.13, 18.01, 0), ('2021:09:06 16:30:04', datetime.date(2021, 9, 6), '16:30:04', 1, 2.18, 43.46, 18.73, 0), ('2021:09:06 16:30:09', datetime.date(2021, 9, 6), '16:30:09', 1, 1.99, 41.72, 16.75, 0), ('2021:09:06 16:30:14', datetime.date(2021, 9, 6), '16:30:14', 1, 1.85, 43.65, 18.02, 0), ('2021:09:06 16:30:19', datetime.date(2021, 9, 6), '16:30:19', 1, 1.94, 42.82, 19.27, 0), ('2021:09:06 16:30:24', datetime.date(2021, 9, 6), '16:30:24', 1, 1.94, 43.17, 17.4, 0), ('2021:09:06 16:30:29', datetime.date(2021, 9, 6), '16:30:29', 1, 2.06, 44.16, 18.69, 0)  ... displaying 10 of 50094 total bound parameter sets ...  ('2021:10:27 18:36:18', datetime.date(2021, 10, 27), '18:36:18', 22, 1.92, 43.95, 17.96, 0), ('2021:10:27 18:36:23', datetime.date(2021, 10, 27), '18:36:23', 22, 1.81, 44.11, 19.22, 0))
2022-12-07 16:48:36,808 INFO sqlalchemy.engine.Engine COMMIT
2022-12-07 16:48:36,927 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `Test`
2022-12-07 16:48:36,927 INFO sqlalchemy.engine.Engine [raw sql] ()

50094