### 1. 패키지 import 및 기본 사항 확인

In [178]:
# 기본 패키지
import pandas as pd
import numpy as np

# 디렉토리 관련 패키지
import os
import glob
import natsort

# MySQL 관련 패키지
import MySQLdb
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine

---
### 2. 환경변수 CSV 처리

In [179]:
# 1. 폴더에 있는 파일들 중 csv 형식의 파일만 보여주기
# natsort.natsorted() : 파일을 순서대로 정렬하기 위해 사용
# 파일들을 불러오기 위한 기본 경로
var_path = r'C:\Users\admin\Desktop\FinalProject\chromate\chromate_data\variable\\'
varfilelist = natsort.natsorted(os.listdir(var_path))
varfilelist = [file for file in varfilelist if file.endswith('.csv')]
varfilelist

['kemp-abh-sensor-2021.09.06.csv',
 'kemp-abh-sensor-2021.09.07.csv',
 'kemp-abh-sensor-2021.09.08.csv',
 'kemp-abh-sensor-2021.09.09.csv',
 'kemp-abh-sensor-2021.09.10.csv',
 'kemp-abh-sensor-2021.09.13.csv',
 'kemp-abh-sensor-2021.09.14.csv',
 'kemp-abh-sensor-2021.09.15.csv',
 'kemp-abh-sensor-2021.09.16.csv',
 'kemp-abh-sensor-2021.09.17.csv',
 'kemp-abh-sensor-2021.09.23.csv',
 'kemp-abh-sensor-2021.09.24.csv',
 'kemp-abh-sensor-2021.09.27.csv',
 'kemp-abh-sensor-2021.09.28.csv',
 'kemp-abh-sensor-2021.09.29.csv',
 'kemp-abh-sensor-2021.09.30.csv',
 'kemp-abh-sensor-2021.10.01.csv',
 'kemp-abh-sensor-2021.10.05.csv',
 'kemp-abh-sensor-2021.10.06.csv',
 'kemp-abh-sensor-2021.10.07.csv',
 'kemp-abh-sensor-2021.10.08.csv',
 'kemp-abh-sensor-2021.10.12.csv',
 'kemp-abh-sensor-2021.10.13.csv',
 'kemp-abh-sensor-2021.10.14.csv',
 'kemp-abh-sensor-2021.10.15.csv',
 'kemp-abh-sensor-2021.10.18.csv',
 'kemp-abh-sensor-2021.10.19.csv',
 'kemp-abh-sensor-2021.10.20.csv',
 'kemp-abh-sensor-2021.10.21.csv',
 'kemp-abh-sensor-2021.10.22.csv',
 'kemp-abh-sensor-2021.10.25.csv',
 'kemp-abh-sensor-2021.10.26.csv',
 'kemp-abh-sensor-2021.10.27.csv']

In [180]:
# 2. 조합해서 반복문으로 넣어줄 수 있게 코드 짜기
# 2-1. df들을 집어넣을 수 있게 빈 데이터프레임 틀 만들어주기
var_df = pd.DataFrame(columns=['Index', 'Date', 'Time', 'Lot', 'pH', 'Temp', 'Voltage'])
var_df

Empty DataFrame
Columns: [Index, Date, Time, Lot, pH, Temp, Voltage]
Index: []

In [181]:
for file in varfilelist:
    # 2-2. csv의 데이터들을 dataframe으로 불러오기
    df = pd.read_csv(var_path + file)

    # 2-3. Date 컬럼 생성
    date = file.split('-')[-1].replace('.','-')
    date = date.removesuffix('-csv')
    df['Date'] = date

    # 2-4. Time을 HH:MM:SS 형태로 조정
    adj_time = list()
    for time in df['Time']:
        tmp = time.split(':')
        # 2-4-1. 오전·오후 문자를 제거하고 오후일 경우 +12를 해준다
        if tmp[0].split(' ')[0] == '오후':
            tmp[0] = str(int(tmp[0].split(' ')[-1]) + 12)
        else:
            tmp[0] = tmp[0].split(' ')[-1]
        # 2-4-2. HH:MM:SS 형태로 합쳐주고 소수점 뒷부분은 제거한다
        tmp = ':'.join(tmp).split('.')[0]
        adj_time.append(tmp)
    # 2-4-3. Time 컬럼을 조정된 형태로 바꾼다
    df['Time'] = adj_time

    # 2-5. 컬럼 순서 조정
    df = df[['Index', 'Date', 'Time', 'Lot', 'pH', 'Temp', 'Voltage']]

    # 2-6. 각각의 파일들에서 나온 dataframe 전부 합치기
    var_df = pd.concat([var_df, df], axis=0)

# 2-7. 인덱스 정리 및 사용하지 않는 Index 컬럼 제거
var_df.reset_index(drop=True, inplace=True)
var_df.drop(columns=['Index'], inplace=True)
var_df

             Date      Time Lot    pH   Temp  Voltage
0      2021-09-06  16:29:54   1  2.15  43.15    19.74
1      2021-09-06  16:29:59   1  2.08  40.13    18.01
2      2021-09-06  16:30:04   1  2.18  43.46    18.73
3      2021-09-06  16:30:09   1  1.99  41.72    16.75
4      2021-09-06  16:30:14   1  1.85  43.65    18.02
...           ...       ...  ..   ...    ...      ...
50089  2021-10-27  18:36:03  22  2.05  42.84    15.38
50090  2021-10-27  18:36:08  22  1.91  42.64    19.08
50091  2021-10-27  18:36:13  22  2.11  44.09    18.14
50092  2021-10-27  18:36:18  22  1.92  43.95    17.96
50093  2021-10-27  18:36:23  22  1.81  44.11    19.22

[50094 rows x 6 columns]

#### 2-1. MySQL 올리기 전 확인사항

In [182]:
# 1. 데이터들이 어떤 타입으로 저장되어 있는지 확인 필요
var_df.dtypes

Date        object
Time        object
Lot         object
pH         float64
Temp       float64
Voltage    float64
dtype: object

In [183]:
# Lot, pH, Temp, Voltage를 수치타입으로 변경하고 확인
var_df['Lot'] = pd.to_numeric(var_df['Lot'])
var_df['pH'] = pd.to_numeric(var_df['pH'])
var_df['Temp'] = pd.to_numeric(var_df['Temp'])
var_df['Voltage'] = pd.to_numeric(var_df['Voltage'])
var_df.dtypes

Date        object
Time        object
Lot          int64
pH         float64
Temp       float64
Voltage    float64
dtype: object

In [184]:
# 2. pH, Temp, Voltage 컬럼의 소수점자리가 몇 자리까지인지 확인
# pH 자리수 확인 -> max가 2이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
var_df['pH'] = var_df['pH'].astype(str)
ph_lenlist = []
for rows in var_df['pH']:
    a = len(rows.split('.')[-1])   # 소숫점 자리만 확인하기 위해서 '.'로 구분 뒷부분만 사용
    ph_lenlist.append(a)
print(max(ph_lenlist))

2

In [185]:
# Temp 자리수 확인 -> max가 2이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
var_df['Temp'] = var_df['Temp'].astype(str)
temp_lenlist = []
for rows in var_df['Temp']:
    a = len(rows.split('.')[-1])   # 소숫점 자리만 확인하기 위해서 '.'로 구분 뒷부분만 사용
    temp_lenlist.append(a)
print(max(temp_lenlist))

2

In [186]:
# Voltage 자리수 확인 -> max가 2이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
var_df['Voltage'] = var_df['Voltage'].astype(str)
vol_lenlist = []
for rows in var_df['Voltage']:
    a = len(rows.split('.')[-1])   # 소숫점 자리만 확인하기 위해서 '.'로 구분 뒷부분만 사용
    vol_lenlist.append(a)
print(max(vol_lenlist))

2

#### 2-2. MySQL 'variable' 테이블로 올리기

In [187]:
# 1. 서버에 연결하기
# 형식: 'mysql://{0}:{1}@{2}:{3}/{4}'.format(user, pass, host, port, db)
url    = 'mysql://root:1234@127.0.0.1:3306'
engine = sqlalchemy.create_engine(url, echo=True)
conn   = engine.connect()

2022-10-18 14:31:54,026 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-18 14:31:54,027 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:31:54,028 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-18 14:31:54,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:31:54,030 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-18 14:31:54,030 INFO sqlalchemy.engine.Engine [raw sql] ()

In [188]:
# 2. 새로운 데이터베이스(SCHEMA) 만들기 : 데이터베이스 이름을 chromate_raw로 만들었습니다
# 이미 만들었으므로 주석처리
engine.execute("CREATE DATABASE chromate_raw")

2022-10-18 14:31:57,186 INFO sqlalchemy.engine.Engine CREATE DATABASE chromate_raw
2022-10-18 14:31:57,188 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:31:57,201 INFO sqlalchemy.engine.Engine COMMIT

In [189]:
# 3. 만든 데이터베이스를 실행
engine.execute("USE chromate_raw")

2022-10-18 14:31:59,340 INFO sqlalchemy.engine.Engine USE chromate_raw
2022-10-18 14:31:59,341 INFO sqlalchemy.engine.Engine [raw sql] ()

In [190]:
# 4. 'variable' 테이블 만들기 → 테이블 만들고 집어넣으려니까 자꾸 에러가 나서, 일단 주석처리 하고 아래 코드로 실행
# engine.execute("CREATE TABLE variable ( Date DATE NOT NULL, Time TIME NOT NULL, Lot INT NOT NULL, pH FLOAT(3,2) NOT NULL, Temp FLOAT(4,2) NOT NULL, Voltage FLOAT(4,2) NOT NULL )")

In [191]:
# 5. 데이터프레임에 있는 데이터 insert하기
dtypesql = {'Date':sqlalchemy.types.DATE(),
            'Time':sqlalchemy.types.TIME(),
            'Lot':sqlalchemy.types.INT(),
            'pH':sqlalchemy.types.FLOAT(),
            'Temp':sqlalchemy.types.FLOAT(),
            'Voltage':sqlalchemy.types.FLOAT()
}
var_df.to_sql(name='variable', con=engine, if_exists='append', index=False, dtype=dtypesql)

2022-10-18 14:32:05,959 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-10-18 14:32:05,959 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ('None', 'variable')
2022-10-18 14:32:05,963 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:32:05,966 INFO sqlalchemy.engine.Engine
CREATE TABLE variable (
	`Date` DATE,
	`Time` TIME,
	`Lot` INTEGER,
	`pH` FLOAT,
	`Temp` FLOAT,
	`Voltage` FLOAT
)


2022-10-18 14:32:05,967 INFO sqlalchemy.engine.Engine [no key 0.00126s] ()
2022-10-18 14:32:06,005 INFO sqlalchemy.engine.Engine COMMIT
2022-10-18 14:32:06,021 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:32:06,366 INFO sqlalchemy.engine.Engine INSERT INTO variable (`Date`, `Time`, `Lot`, `pH`, `Temp`, `Voltage`) VALUES (%s, %s, %s, %s, %s, %s)
2022-10-18 14:32:06,366 INFO sqlalchemy.engine.Engine [generated in 0.30809s] (('2021-09-06', '16:29:54', 1, '2.15', '43.15', '19.74'), ('2021-09-06', '16:29:59', 1, '2.08', '40.13', '18.01'), ('2021-09-06', '16:30:04', 1, '2.18', '43.46', '18.73'), ('2021-09-06', '16:30:09', 1, '1.99', '41.72', '16.75'), ('2021-09-06', '16:30:14', 1, '1.85', '43.65', '18.02'), ('2021-09-06', '16:30:19', 1, '1.94', '42.82', '19.27'), ('2021-09-06', '16:30:24', 1, '1.94', '43.17', '17.4'), ('2021-09-06', '16:30:29', 1, '2.06', '44.16', '18.69')  ... displaying 10 of 50094 total bound parameter sets ...  ('2021-10-27', '18:36:18', 22, '1.92', '43.95', '17.96'), ('2021-10-27', '18:36:23', 22, '1.81', '44.11', '19.22'))
2022-10-18 14:32:07,257 INFO sqlalchemy.engine.Engine COMMIT

50094

In [193]:
# 6. SQL 상에 ID 컬럼을 추가
# MySQL 상에서 data type에 pk를 체크해주었다.
engine.execute("ALTER TABLE variable ADD var_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (var_id);")

2022-10-18 14:32:31,901 INFO sqlalchemy.engine.Engine ALTER TABLE variable ADD var_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (var_id);
2022-10-18 14:32:31,902 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:32:32,952 INFO sqlalchemy.engine.Engine COMMIT

---
### 3. Error Lot list CSV 처리

In [194]:
# 1. 폴더에 있는 파일들 중 csv 형식의 파일만 보여주기
# natsort.natsorted() : 파일을 순서대로 정렬하기 위해 사용
# 파일들을 불러오기 위한 기본 경로
err_path = r'C:\Users\admin\Desktop\FinalProject\chromate\chromate_data\error\\'
errfilelist = natsort.natsorted(os.listdir(err_path))
errfilelist = [file for file in errfilelist if file.endswith('.csv')]
errfilelist

['Error Lot list.csv']

In [195]:
# 2. 조합해서 반복문으로 넣어줄 수 있게 코드 짜기
# 2-1. df들을 집어넣을 수 있게 빈 데이터프레임 틀 만들어주기
err_df = pd.DataFrame(columns=['Date', 'FailureLot1', 'FailureLot2'])
err_df

Empty DataFrame
Columns: [Date, FailureLot1, FailureLot2]
Index: []

In [196]:
for file in errfilelist:
    # 2-2. csv의 데이터들을 dataframe으로 불러오기
    df = pd.read_csv(err_path + file)
    # 2-3. 컬럼 이름 조정 필요
    df.rename(columns = {'0':'Date', '1':'FailureLot1', '2':'FailureLot2'}, inplace=True)

    # 2-4. FailureLot1, FailureLot2 INT로 바꿔주기
    # 결측치가 있으므로 0으로 채워주고 바꾼다
    df['FailureLot1'] = df['FailureLot1'].fillna(0).astype(int)
    df['FailureLot2'] = df['FailureLot2'].fillna(0).astype(int)

    # 2-5. 다시 결측치로 바꿔주기
    # np.NaN을 써버리면 그 열 전체가 float로 바뀌므로 일단 주석처리
    # df['FailureLot1'] = df['FailureLot1'].replace(0, np.NaN)
    # df['FailureLot2'] = df['FailureLot2'].replace(0, np.NaN)

    # 2-6. 각각의 파일들에서 나온 dataframe 전부 합치기
    err_df = pd.concat([err_df, df], axis=0)

err_df

          Date FailureLot1 FailureLot2
0   2021-09-06           0           0
1   2021-09-07           0           0
2   2021-09-08          20           0
3   2021-09-09          16           5
4   2021-09-10           0           0
5   2021-09-13           0           0
6   2021-09-14           0           0
7   2021-09-15           0           0
8   2021-09-16           4           0
9   2021-09-17           0           0
10  2021-09-23           0           0
11  2021-09-24           0           0
12  2021-09-27           0           0
13  2021-09-28          16           0
14  2021-09-29           0           0
15  2021-09-30           0           0
16  2021-10-01          21           0
17  2021-10-05           0           0
18  2021-10-06           6           0
19  2021-10-07           0           0
20  2021-10-08           0           0
21  2021-10-12           0           0
22  2021-10-13           0           0
23  2021-10-14           0           0
24  2021-10-15           0           0
25  2021-10-18           0           0
26  2021-10-19           0           0
27  2021-10-20           0           0
28  2021-10-21           0           0
29  2021-10-22           3           0
30  2021-10-25          16           0
31  2021-10-26           0           0
32  2021-10-27           0           0

#### 3-1. MySQL 올리기 전 확인사항

In [197]:
# 1. 데이터가 어떤 타입으로 저장되어 있는지 확인 필요
err_df.dtypes

Date           object
FailureLot1    object
FailureLot2    object
dtype: object

In [198]:
# FailureLot1, FailureLot2를 수치타입으로 변경
err_df['FailureLot1'] = pd.to_numeric(err_df['FailureLot1'])
err_df['FailureLot2'] = pd.to_numeric(err_df['FailureLot2'])
err_df.dtypes

Date           object
FailureLot1     int64
FailureLot2     int64
dtype: object

#### 3-2. MySQL 'error' 테이블로 올리기

In [199]:
# 1. 서버에 연결하기
# 형식: 'mysql://{0}:{1}@{2}:{3}/{4}'.format(user, pass, host, port, db)
url    = 'mysql://root:1234@127.0.0.1:3306'
engine = sqlalchemy.create_engine(url, echo=True)
conn   = engine.connect()

2022-10-18 14:32:50,403 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-18 14:32:50,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:32:50,405 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-18 14:32:50,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:32:50,407 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-18 14:32:50,407 INFO sqlalchemy.engine.Engine [raw sql] ()

In [200]:
# 2. 만든 데이터베이스를 실행
engine.execute("USE chromate_raw")

2022-10-18 14:32:53,344 INFO sqlalchemy.engine.Engine USE chromate_raw
2022-10-18 14:32:53,345 INFO sqlalchemy.engine.Engine [raw sql] ()

In [201]:
# 3. MySQL에 'error' 테이블 만들기 → 테이블 만들고 집어넣으려니까 자꾸 에러가 나서, 일단 주석처리 하고 아래 코드로 실행
# engine.execute("CREATE TABLE error ( ID INT AUTO_INCREMENT PRIMARY KEY, Date DATE NOT NULL, FailureLot1 INT, FailureLot2 INT )")

In [202]:
# 4. MySQL 'error' 테이블에 데이터들을 insert 하기
error_type = {'Date'    : sqlalchemy.types.DATE(),
              'FailureLot1' : sqlalchemy.types.INT(),
              'FailureLot2' : sqlalchemy.types.INT()
}
err_df.to_sql(name='error', con=engine, if_exists='append', index=False, dtype=error_type)

2022-10-18 14:32:59,385 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-10-18 14:32:59,387 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ('None', 'error')
2022-10-18 14:32:59,391 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:32:59,392 INFO sqlalchemy.engine.Engine
CREATE TABLE error (
	`Date` DATE,
	`FailureLot1` INTEGER,
	`FailureLot2` INTEGER
)


2022-10-18 14:32:59,393 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2022-10-18 14:32:59,431 INFO sqlalchemy.engine.Engine COMMIT
2022-10-18 14:32:59,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:32:59,434 INFO sqlalchemy.engine.Engine INSERT INTO error (`Date`, `FailureLot1`, `FailureLot2`) VALUES (%s, %s, %s)
2022-10-18 14:32:59,434 INFO sqlalchemy.engine.Engine [generated in 0.00070s] (('2021-09-06', 0, 0), ('2021-09-07', 0, 0), ('2021-09-08', 20, 0), ('2021-09-09', 16, 5), ('2021-09-10', 0, 0), ('2021-09-13', 0, 0), ('2021-09-14', 0, 0), ('2021-09-15', 0, 0)  ... displaying 10 of 33 total bound parameter sets ...  ('2021-10-26', 0, 0), ('2021-10-27', 0, 0))
2022-10-18 14:32:59,437 INFO sqlalchemy.engine.Engine COMMIT

33

In [203]:
# 6. SQL 상에 ID 컬럼을 추가
# MySQL 상에서 data type에 pk를 체크해주었다.
engine.execute("ALTER TABLE error ADD err_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (err_id);")

2022-10-18 14:33:06,720 INFO sqlalchemy.engine.Engine ALTER TABLE error ADD err_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (err_id);
2022-10-18 14:33:06,721 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:33:06,832 INFO sqlalchemy.engine.Engine COMMIT

---
### 4. 모델러가 원하는 input 만들기

##### (1) err_df 특정 날짜의 에러 Lot번호 → var_df의 특정 날짜의 에러 Lot번호들에 표시

In [204]:
# 확인용 셀
working_df = var_df.copy()
working_df

             Date      Time  Lot    pH   Temp Voltage
0      2021-09-06  16:29:54    1  2.15  43.15   19.74
1      2021-09-06  16:29:59    1  2.08  40.13   18.01
2      2021-09-06  16:30:04    1  2.18  43.46   18.73
3      2021-09-06  16:30:09    1  1.99  41.72   16.75
4      2021-09-06  16:30:14    1  1.85  43.65   18.02
...           ...       ...  ...   ...    ...     ...
50089  2021-10-27  18:36:03   22  2.05  42.84   15.38
50090  2021-10-27  18:36:08   22  1.91  42.64   19.08
50091  2021-10-27  18:36:13   22  2.11  44.09   18.14
50092  2021-10-27  18:36:18   22  1.92  43.95   17.96
50093  2021-10-27  18:36:23   22  1.81  44.11   19.22

[50094 rows x 6 columns]

In [205]:
# 확인용 셀
err_df

          Date  FailureLot1  FailureLot2
0   2021-09-06            0            0
1   2021-09-07            0            0
2   2021-09-08           20            0
3   2021-09-09           16            5
4   2021-09-10            0            0
5   2021-09-13            0            0
6   2021-09-14            0            0
7   2021-09-15            0            0
8   2021-09-16            4            0
9   2021-09-17            0            0
10  2021-09-23            0            0
11  2021-09-24            0            0
12  2021-09-27            0            0
13  2021-09-28           16            0
14  2021-09-29            0            0
15  2021-09-30            0            0
16  2021-10-01           21            0
17  2021-10-05            0            0
18  2021-10-06            6            0
19  2021-10-07            0            0
20  2021-10-08            0            0
21  2021-10-12            0            0
22  2021-10-13            0            0
23  2021-10-14            0            0
24  2021-10-15            0            0
25  2021-10-18            0            0
26  2021-10-19            0            0
27  2021-10-20            0            0
28  2021-10-21            0            0
29  2021-10-22            3            0
30  2021-10-25           16            0
31  2021-10-26            0            0
32  2021-10-27            0            0

In [206]:
# 확인용 셀
err_df['Date'][2]

'2021-09-08'

In [207]:
# 확인용 셀
working_df['Date'][10]

'2021-09-06'

In [208]:
# 조건에 해당하는 열 추가하는 작업
sep = list()    # 불량 로트: 0 | 정상 로트: 1

for i in range(len(err_df)):
    for j in range(len(working_df)):
        if err_df['Date'][i] == working_df['Date'][j]:
            if err_df['FailureLot1'][i] == working_df['Lot'][j]:
                sep.append(0)
            elif err_df['FailureLot2'][i] == working_df['Lot'][j]:
                sep.append(0)
            else:
                sep.append(1)

working_df['sep'] = sep

In [209]:
working_df

             Date      Time  Lot    pH   Temp Voltage  sep
0      2021-09-06  16:29:54    1  2.15  43.15   19.74    1
1      2021-09-06  16:29:59    1  2.08  40.13   18.01    1
2      2021-09-06  16:30:04    1  2.18  43.46   18.73    1
3      2021-09-06  16:30:09    1  1.99  41.72   16.75    1
4      2021-09-06  16:30:14    1  1.85  43.65   18.02    1
...           ...       ...  ...   ...    ...     ...  ...
50089  2021-10-27  18:36:03   22  2.05  42.84   15.38    1
50090  2021-10-27  18:36:08   22  1.91  42.64   19.08    1
50091  2021-10-27  18:36:13   22  2.11  44.09   18.14    1
50092  2021-10-27  18:36:18   22  1.92  43.95   17.96    1
50093  2021-10-27  18:36:23   22  1.81  44.11   19.22    1

[50094 rows x 7 columns]

In [210]:
# 확인용 셀
working_df[(working_df['Date'] == '2021-09-08') & (working_df['Lot'] == 20)]

            Date      Time  Lot    pH   Temp Voltage  sep
4347  2021-09-08  18:23:01   20  1.97   41.2   15.53    0
4348  2021-09-08  18:23:06   20  2.08  42.13   16.86    0
4349  2021-09-08  18:23:11   20  1.89  44.62   18.19    0
4350  2021-09-08  18:23:16   20  1.95  42.55   15.59    0
4351  2021-09-08  18:23:21   20  2.43  44.54   15.44    0
...          ...       ...  ...   ...    ...     ...  ...
4411  2021-09-08  18:28:22   20  1.84   43.9   18.44    0
4412  2021-09-08  18:28:27   20  2.02  42.84   17.54    0
4413  2021-09-08  18:28:32   20  2.04  40.26   16.71    0
4414  2021-09-08  18:28:37   20  1.92  35.46   15.49    0
4415  2021-09-08  18:28:42   20  1.87  40.09   16.01    0

[69 rows x 7 columns]

In [211]:
# 확인용 셀
working_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50094 entries, 0 to 50093
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     50094 non-null  object
 1   Time     50094 non-null  object
 2   Lot      50094 non-null  int64
 3   pH       50094 non-null  object
 4   Temp     50094 non-null  object
 5   Voltage  50094 non-null  object
 6   sep      50094 non-null  int64
dtypes: int64(2), object(5)
memory usage: 2.7+ MB

작업 내용 저장

In [172]:
# 작업한 데이터프레임을 csv로 저장하기
working_df.to_csv(r'C:\Users\admin\Desktop\FinalProject\chromate\working_df.csv')

In [221]:
# 작업한 데이터프레임을 SQL에 저장하기
# 1. 서버에 연결하기
# 형식: 'mysql://{0}:{1}@{2}:{3}/{4}'.format(user, pass, host, port, db)
url    = 'mysql://root:1234@127.0.0.1:3306'
engine = sqlalchemy.create_engine(url, echo=True)
conn   = engine.connect()

2022-10-18 14:36:58,447 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-18 14:36:58,448 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:36:58,449 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-18 14:36:58,450 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:36:58,451 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-18 14:36:58,452 INFO sqlalchemy.engine.Engine [raw sql] ()

In [222]:
# 2. 새로운 데이터베이스(SCHEMA) 만들기 : 데이터베이스 이름을 chromate_model로 만들었습니다
# engine.execute("CREATE DATABASE chromate_model")

In [223]:
# 3. 만든 데이터베이스를 실행
engine.execute("USE chromate_model")

2022-10-18 14:37:04,566 INFO sqlalchemy.engine.Engine USE chromate_model
2022-10-18 14:37:04,568 INFO sqlalchemy.engine.Engine [raw sql] ()

In [224]:
# 4. MySQL에 'model_var' 테이블 만들기 → 테이블 만들고 집어넣으려니까 자꾸 에러가 나서, 일단 주석처리 하고 아래 코드로 실행
# engine.execute("CREATE TABLE model_var ()")

In [226]:
# 5. DataFrame들 df.to_sql() 로 올리기
working_type = {'Date' : sqlalchemy.types.DATE(),
                'Time' : sqlalchemy.types.TIME(),
                'Lot' : sqlalchemy.types.INT(),
                'pH' : sqlalchemy.types.FLOAT(),
                'Temp' : sqlalchemy.types.FLOAT(),
                'Voltage' : sqlalchemy.types.FLOAT(),
                'sep' : sqlalchemy.types.INT()
}
working_df.to_sql(name='var_model', con=engine, if_exists='append', index=False, dtype=working_type)

2022-10-18 14:37:59,422 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2022-10-18 14:37:59,423 INFO sqlalchemy.engine.Engine [cached since 48.05s ago] ('None', 'var_model')
2022-10-18 14:37:59,426 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:37:59,427 INFO sqlalchemy.engine.Engine
CREATE TABLE var_model (
	`Date` DATE,
	`Time` TIME,
	`Lot` INTEGER,
	`pH` FLOAT,
	`Temp` FLOAT,
	`Voltage` FLOAT,
	sep INTEGER
)


2022-10-18 14:37:59,427 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2022-10-18 14:37:59,463 INFO sqlalchemy.engine.Engine COMMIT
2022-10-18 14:37:59,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-18 14:37:59,856 INFO sqlalchemy.engine.Engine INSERT INTO var_model (`Date`, `Time`, `Lot`, `pH`, `Temp`, `Voltage`, sep) VALUES (%s, %s, %s, %s, %s, %s, %s)
2022-10-18 14:37:59,857 INFO sqlalchemy.engine.Engine [generated in 0.34259s] (('2021-09-06', '16:29:54', 1, '2.15', '43.15', '19.74', 1), ('2021-09-06', '16:29:59', 1, '2.08', '40.13', '18.01', 1), ('2021-09-06', '16:30:04', 1, '2.18', '43.46', '18.73', 1), ('2021-09-06', '16:30:09', 1, '1.99', '41.72', '16.75', 1), ('2021-09-06', '16:30:14', 1, '1.85', '43.65', '18.02', 1), ('2021-09-06', '16:30:19', 1, '1.94', '42.82', '19.27', 1), ('2021-09-06', '16:30:24', 1, '1.94', '43.17', '17.4', 1), ('2021-09-06', '16:30:29', 1, '2.06', '44.16', '18.69', 1)  ... displaying 10 of 50094 total bound parameter sets ...  ('2021-10-27', '18:36:18', 22, '1.92', '43.95', '17.96', 1), ('2021-10-27', '18:36:23', 22, '1.81', '44.11', '19.22', 1))
2022-10-18 14:38:00,822 INFO sqlalchemy.engine.Engine COMMIT

50094

In [227]:
# 6. SQL 상에 ID 컬럼을 추가
# MySQL 상에서 data type에 pk를 체크해주었다.
engine.execute("ALTER TABLE var_model ADD varmodel_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (varmodel_id);")

2022-10-18 14:38:13,669 INFO sqlalchemy.engine.Engine ALTER TABLE var_model ADD varmodel_id INT UNSIGNED NOT NULL AUTO_INCREMENT, ADD INDEX (varmodel_id);
2022-10-18 14:38:13,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-18 14:38:14,863 INFO sqlalchemy.engine.Engine COMMIT