### 1. 패키지 import 및 기본 사항 확인

In [12]:
# 기본 패키지
import pandas as pd
import numpy as np

# 디렉토리 관련 패키지
import os
import glob
import natsort

# MySQL 관련 패키지
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

# 이미지 관련 패키지
import base64
from PIL import Image
from io import BytesIO

In [13]:
# 현재 경로 확인 : 디렉토리 파일을 불러올 때 절대경로를 사용해야 함
os.path

### 2. MySQL 연결 및 테이블 생성

In [14]:
# DB 연동
conn = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'root',
    password = '1234',
    db = 'chromate',
    charset='utf8'
)

In [15]:
# DB 사용을 위한 준비
cursor = conn.cursor()

In [ ]:
engine = create_engine()
dialect+driver://username:password@host:port/database

In [18]:
from decimal import Decimal
from sqlite3 import Date, Time
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String

metadata = MetaData() # 테이블들의 메타 정보를 담게 될 객체

In [19]:
user_table = Table(
    'variable', # 데이터베이스에 저장될 table 이름
    metadata,
    Column('Index', Integer, primary_key=True),
    Column('Date', Date(8)),
    Column('Time', Time(6)),
    Column('Lot', Integer),
    Column('pH', Decimal(3,2)),
    Column('Temp', Decimal(3,2)),
    Column('Voltage', Decimal(3,2)),
)

TypeError: function missing required argument 'month' (pos 2)

### 3. 환경변수 CSV 처리

In [6]:
# << 폴더에 있는 파일들 중 csv 형식의 파일만 보여주기 >>
# natsort.natsorted() : 파일을 순서대로 정렬하기 위해 사용
filelist = natsort.natsorted(os.listdir(r'C:\Users\admin\Desktop\[FP]Final_Project\chromate\chromate_data'))
filelist = [file for file in filelist if file.endswith('.csv')]
filelist

['Error Lot list.csv',
 'kemp-abh-sensor-2021.09.06.csv',
 'kemp-abh-sensor-2021.09.07.csv',
 'kemp-abh-sensor-2021.09.08.csv',
 'kemp-abh-sensor-2021.09.09.csv',
 'kemp-abh-sensor-2021.09.10.csv',
 'kemp-abh-sensor-2021.09.13.csv',
 'kemp-abh-sensor-2021.09.14.csv',
 'kemp-abh-sensor-2021.09.15.csv',
 'kemp-abh-sensor-2021.09.16.csv',
 'kemp-abh-sensor-2021.09.17.csv',
 'kemp-abh-sensor-2021.09.23.csv',
 'kemp-abh-sensor-2021.09.24.csv',
 'kemp-abh-sensor-2021.09.27.csv',
 'kemp-abh-sensor-2021.09.28.csv',
 'kemp-abh-sensor-2021.09.29.csv',
 'kemp-abh-sensor-2021.09.30.csv',
 'kemp-abh-sensor-2021.10.01.csv',
 'kemp-abh-sensor-2021.10.05.csv',
 'kemp-abh-sensor-2021.10.06.csv',
 'kemp-abh-sensor-2021.10.07.csv',
 'kemp-abh-sensor-2021.10.08.csv',
 'kemp-abh-sensor-2021.10.12.csv',
 'kemp-abh-sensor-2021.10.13.csv',
 'kemp-abh-sensor-2021.10.14.csv',
 'kemp-abh-sensor-2021.10.15.csv',
 'kemp-abh-sensor-2021.10.18.csv',
 'kemp-abh-sensor-2021.10.19.csv',
 'kemp-abh-sensor-2021.10.20.csv',
 'kemp-abh-sensor-2021.10.21.csv',
 'kemp-abh-sensor-2021.10.22.csv',
 'kemp-abh-sensor-2021.10.25.csv',
 'kemp-abh-sensor-2021.10.26.csv',
 'kemp-abh-sensor-2021.10.27.csv']

In [7]:
# << Date 컬럼을 만들어줄 수 있도록 파일 이름에서 날짜만 추출하기 테스트 >>
# Error Lot list에 있는 날짜들이 '-'으로 표시되어 있으므로 맞춰주기
# filelist[1:] 라고 쓴 이유 : Error Lot list 파일은 필요없기 때문에
for file in filelist[1:]:
    date = file.split('-')[-1].replace('.','-')
    date = date.removesuffix('-'+date.split('-')[-1])
    print(date)

2021-09-06
2021-09-07
2021-09-08
2021-09-09
2021-09-10
2021-09-13
2021-09-14
2021-09-15
2021-09-16
2021-09-17
2021-09-23
2021-09-24
2021-09-27
2021-09-28
2021-09-29
2021-09-30
2021-10-01
2021-10-05
2021-10-06
2021-10-07
2021-10-08
2021-10-12
2021-10-13
2021-10-14
2021-10-15
2021-10-18
2021-10-19
2021-10-20
2021-10-21
2021-10-22
2021-10-25
2021-10-26
2021-10-27

In [115]:
# << 조합해서 반복문으로 넣어줄 수 있게 코드 짜기 >>
# df들을 집어넣을 수 있게 빈 데이터프레임 틀 만들어주기
frame_df = pd.DataFrame(columns=['Index', 'Date', 'Time', 'Lot', 'pH', 'Temp', 'Voltage'])
frame_df

Empty DataFrame
Columns: [Index, Date, Time, Lot, pH, Temp, Voltage]
Index: []

In [116]:
# 파일들을 불러오기 위한 기본 경로
csv_path = r'C:\Users\admin\Desktop\[FP]Final_Project\chromate\chromate_data\\'

for file in filelist[1:]:
    # csv의 데이터들을 dataframe으로 불러오기
    df = pd.read_csv(csv_path + file)
    # Date 컬럼 생성
    date = file.split('-')[-1].replace('.','-')
    date = date.removesuffix('-' + date.split('-')[-1])
    df['Date'] = date
    # 컬럼 순서 조정
    df = df[['Index', 'Date', 'Time', 'Lot', 'pH', 'Temp', 'Voltage']]
    # 각각의 파일들에서 나온 dataframe 전부 합치기
    frame_df = pd.concat([frame_df, df], axis=0)

# 인덱스 조정
frame_df.reset_index(inplace=True)
frame_df = frame_df.drop(columns=['index', 'Index'])
frame_df

             Date          Time Lot    pH   Temp  Voltage
0      2021-09-06  오후 4:29:54.0   1  2.15  43.15    19.74
1      2021-09-06  오후 4:29:59.0   1  2.08  40.13    18.01
2      2021-09-06  오후 4:30:04.0   1  2.18  43.46    18.73
3      2021-09-06  오후 4:30:09.0   1  1.99  41.72    16.75
4      2021-09-06  오후 4:30:14.0   1  1.85  43.65    18.02
...           ...           ...  ..   ...    ...      ...
50089  2021-10-27  오후 6:36:03.3  22  2.05  42.84    15.38
50090  2021-10-27  오후 6:36:08.3  22  1.91  42.64    19.08
50091  2021-10-27  오후 6:36:13.3  22  2.11  44.09    18.14
50092  2021-10-27  오후 6:36:18.3  22  1.92  43.95    17.96
50093  2021-10-27  오후 6:36:23.3  22  1.81  44.11    19.22

[50094 rows x 6 columns]

#### 3-1. MySQL 올리기 전 확인사항

In [117]:
# << 환경변수들의 소수점 자리가 몇 자리까지 있는지 확인해보기 >>
# pH 자리수 확인 -> max가 4이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
# MySQL에 column 설정 시 decimal 2자리까지만 하면 된다
frame_df['pH'] = frame_df['pH'].astype(str)
ph_lenlist = []
for rows in frame_df['pH']:
    a = len(rows)
    ph_lenlist.append(a)
print(max(ph_lenlist))

4

In [118]:
# Temp 자리수 확인 -> max가 5이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
# MySQL에 column 설정 시 decimal 2자리까지만 하면 된다
frame_df['Temp'] = frame_df['Temp'].astype(str)
temp_lenlist = []
for rows in frame_df['Temp']:
    a = len(rows)
    temp_lenlist.append(a)
print(max(temp_lenlist))

5

In [119]:
# Voltage 자리수 확인 -> max가 5이므로 모든 데이터가 소수점 두 자리까지인 것을 확인하였다
# MySQL에 column 설정 시 decimal 2자리까지만 하면 된다
frame_df['Voltage'] = frame_df['Voltage'].astype(str)
vol_lenlist = []
for rows in frame_df['Voltage']:
    a = len(rows)
    vol_lenlist.append(a)
print(max(vol_lenlist))

5

#### 3-2. 'variable' 테이블에 올리기

### 4. Error Lot list CSV 처리

In [120]:
# << Error Lot list csv의 데이터들을 dataframe으로 불러오기 >>
error_df = pd.read_csv(r'C:\Users\admin\Desktop\[FP]Final_Project\chromate\chromate_data\Error Lot list.csv')
error_df.columns = [['Date', 'Failure Lot 1', 'Failure Lot 2']]
error_df

          Date Failure Lot 1 Failure Lot 2
0   2021-09-06           NaN           NaN
1   2021-09-07           NaN           NaN
2   2021-09-08          20.0           NaN
3   2021-09-09          16.0           5.0
4   2021-09-10           NaN           NaN
5   2021-09-13           NaN           NaN
6   2021-09-14           NaN           NaN
7   2021-09-15           NaN           NaN
8   2021-09-16           4.0           NaN
9   2021-09-17           NaN           NaN
10  2021-09-23           NaN           NaN
11  2021-09-24           NaN           NaN
12  2021-09-27           NaN           NaN
13  2021-09-28          16.0           NaN
14  2021-09-29           NaN           NaN
15  2021-09-30           NaN           NaN
16  2021-10-01          21.0           NaN
17  2021-10-05           NaN           NaN
18  2021-10-06           6.0           NaN
19  2021-10-07           NaN           NaN
20  2021-10-08           NaN           NaN
21  2021-10-12           NaN           NaN
22  2021-10-13           NaN           NaN
23  2021-10-14           NaN           NaN
24  2021-10-15           NaN           NaN
25  2021-10-18           NaN           NaN
26  2021-10-19           NaN           NaN
27  2021-10-20           NaN           NaN
28  2021-10-21           NaN           NaN
29  2021-10-22           3.0           NaN
30  2021-10-25          16.0           NaN
31  2021-10-26           NaN           NaN
32  2021-10-27           NaN           NaN

#### 4-1. 'error' 테이블에 올리기

### 5. 이미지 png 처리

In [121]:
# << 디렉토리에서 이미지 파일들 전부 불러오기 >>
# 이미지 파일들을 불러오기 위한 기본 경로
img_path = r'C:\Users\admin\Desktop\[FP]Final_Project\chromate\chromate_data\resized\*\**\\'

img_list = natsort.natsorted(glob.glob(img_path))
img_list    # 원래 되어야하는데 왜 안되지? 확인 필요

[]