## 1. 패키지 import

In [2]:
# 기본 패키지
import pandas as pd
import numpy as np
import datetime

# 디렉토리 관련 패키지
import os
import glob

# 시각화 관련 패키지
import seaborn as sns

In [5]:
# 데이터 불러오기
df_DT = pd.read_csv(r'C:\localRepository\Bigdata_busan\ML\res\prep.csv', index_col = 0)
df_DT

                        Time    pH   Temp  Voltage       DTime
Lot
1    2021-09-06 16:29:54.000  2.15  43.15    19.74  2021-09-06
1    2021-09-06 16:29:59.000  2.08  40.13    18.01  2021-09-06
1    2021-09-06 16:30:04.000  2.18  43.46    18.73  2021-09-06
1    2021-09-06 16:30:09.000  1.99  41.72    16.75  2021-09-06
1    2021-09-06 16:30:14.000  1.85  43.65    18.02  2021-09-06
..                       ...   ...    ...      ...         ...
22   2021-10-27 18:36:03.300  2.05  42.84    15.38  2021-10-27
22   2021-10-27 18:36:08.300  1.91  42.64    19.08  2021-10-27
22   2021-10-27 18:36:13.300  2.11  44.09    18.14  2021-10-27
22   2021-10-27 18:36:18.300  1.92  43.95    17.96  2021-10-27
22   2021-10-27 18:36:23.300  1.81  44.11    19.22  2021-10-27

[50094 rows x 5 columns]

In [4]:
# info 확인
df_DT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50094 entries, 0 to 50093
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     50094 non-null  object
 1   Time     50094 non-null  object
 2   Lot      50094 non-null  int64
 3   pH       50094 non-null  float64
 4   Temp     50094 non-null  float64
 5   Voltage  50094 non-null  float64
 6   sep      50094 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.1+ MB

## 데이터